.catalog{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.header{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backButton{
    font-size: 50px;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.headerText{
    font-size: 50px;
    color: #fff;
}
.gap{
    width: 50px;
}
.catalogs{
    margin-top: 50px;
}
@media (max-width: 575px) {
    .header{
        padding: 15px 15px 0 15px;  
        margin-bottom: 30px;
    }
    .catalogs{
        margin-top: 30px;
    }
}